@import "tailwindcss";

@theme {
  --color-surface-container-highest: #d2e4fb;
  --color-outline: #74777d;
  --color-tertiary-fixed-dim: #66df75;
  --color-primary-container: #1a2b3c;
  --color-on-error-container: #93000a;
  --color-tertiary: #001b04;
  --color-surface-variant: #d2e4fb;
  --color-on-primary-fixed: #0b1d2d;
  --color-on-error: #ffffff;
  --color-primary: #041627;
  --color-secondary-fixed: #ffdcc3;
  --color-surface-container-low: #eef4ff;
  --color-on-tertiary-fixed-variant: #00531a;
  --color-primary-fixed-dim: #b7c8de;
  --color-secondary-fixed-dim: #ffb77d;
  --color-background: #f7f9ff;
  --color-on-surface: #0b1d2d;
  --color-on-tertiary-fixed: #002106;
  --color-error: #ba1a1a;
  --color-on-primary-container: #8192a7;
  --color-surface-bright: #f7f9ff;
  --color-secondary-container: #fd8b00;
  --color-on-tertiary-container: #27a745;
  --color-secondary: #904d00;
  --color-surface-container-high: #d9eaff;
  --color-error-container: #ffdad6;
  --color-on-secondary-fixed: #2f1500;
  --color-on-secondary-fixed-variant: #6e3900;
  --color-inverse-surface: #213243;
  --color-outline-variant: #c4c6cd;
  --color-on-tertiary: #ffffff;
  --color-surface-dim: #cadcf2;
  --color-on-secondary-container: #603100;
  --color-surface-tint: #4f6073;
  --color-inverse-primary: #b7c8de;
  --color-surface-container: #e4efff;
  --color-on-background: #0b1d2d;
  --color-on-primary: #ffffff;
  --color-surface: #f7f9ff;
  --color-surface-container-lowest: #ffffff;
  --color-tertiary-container: #00320c;
  --color-primary-fixed: #d2e4fb;
  --color-on-primary-fixed-variant: #38485a;
  --color-on-surface-variant: #44474c;
  --color-inverse-on-surface: #e9f1ff;
  --color-on-secondary: #ffffff;
  --color-tertiary-fixed: #83fc8e;

  --font-headline: "Inter", sans-serif;
  --font-body: "Inter", sans-serif;
  --font-label: "Inter", sans-serif;

  --border-radius-DEFAULT: 0.25rem;
  --border-radius-lg: 0.5rem;
  --border-radius-xl: 0.75rem;
  --border-radius-full: 9999px;
}

@layer base {
  body {
    min-height: max(884px, 100dvh);
  }
}

@layer utilities {
  .material-symbols-outlined {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
  }
  .tectonic-gradient {
    background: linear-gradient(135deg, #904d00 0%, #fd8b00 100%);
  }
  .glass-nav {
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
  }
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
